<app-header></app-header>

<div class="login">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="form">
        <h2>تسجيل الدخول</h2>
        <form [formGroup]="loginForm">
          <!-- {{ loginForm.value | json }} -->
          <div class="form-group">
            <!-- <label></label> -->
            <input [ngClass] = "{whiteInput:userName.value.length > 0}"
              formControlName="userName"
              [class.is-invalid]="userName.invalid && userName.touched"
              type="text"
              class="form-control mt-5"
              placeholder="الاسم"
            />
            <div
              *ngIf="userName.errors && userName.invalid && userName.touched"
            >
              <small class="text-danger" *ngIf="userName.errors?.required">
                الاسم مطلوب
              </small>
              <small class="text-danger" *ngIf="userName.errors.minlength">
                لا يجب ان يقل الاسم عن 5 حروف
              </small>
              <small *ngIf="userName.errors?.forbiddenName">
                {{ userName.errors?.forbiddenName.value }} غير متاح
              </small>
            </div>
          </div>
          <div class="form-group">
            <!-- <label>Password</label> -->
            <input [ngClass] = "{whiteInput:userName.value.length > 0}"
              formControlName="password"
              type="password"
              class="form-control mt-4"
              placeholder="كلمة السر"
            />
          </div>
          
          <button type="submit" class="btn btn-success mt-4" (click)="submit()">
            دخول
          </button>
        </form>
      </div>     
    </div>
  </div>
</div>

<app-footer></app-footer>