<!-- <p>add works!</p>

<div class="container">
    <h2>Register Form</h2>
    <form [formGroup]="registerForm">
        {{registerForm.value |json}}
        <div class="form-group">
            <label>User Name</label>
            <input formControlName="userName" [class.is-invalid]="userName.invalid && userName.touched" type="text"
                class="form-control" />
            <div *ngIf=" userName.errors && (userName.invalid && userName.touched)">
                <small class="text-danger" *ngIf="userName.errors?.required">
                    User name is required
                </small>
                <small class="text-danger" *ngIf="userName.errors.minlength">
                    Min length is 5
                </small>
                <small *ngIf="userName.errors?.forbiddenName">
                    {{userName.errors?.forbiddenName.value}} is not allowed
                </small>
            </div>

        </div>
        <div class="form-group">
            <label>Password</label>
            <input formControlName="password" type="password" class="form-control" />
        </div>
       
        <button type="submit" class="btn btn-success">Login

        </button>
    </form>
-->