<div>
    <div class="header-blue">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
            <div class="container-fluid"><a class="navbar-brand" routerLink="#">Khairokom</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/products">Products</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/users">users</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/addCourse">addCourse</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/AddCategory">AddCategory</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/GetAllCateogries">GetAllCategories</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="profile/6094176a69847e3280cb3f46">noor Profile</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="profile/edit/609ad62d551ca8002dc8f143">edit noor Profile</a></li> 
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search text-white"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                    <!-- </form><span class="navbar-text"> <a class="login" routerLink="reactiveregister">ReactiveRegister</a></span><a class="btn btn-light action-button" role="button" routerLink="register">Signup</a> -->
                </form><span class="navbar-text">
                     <a class="login" routerLink="register">Register</a></span>
                     <a class="btn btn-light action-button" role="button" routerLink="login">login</a>
                     <a class="btn btn-light action-button" role="button"(click)="logout()" >logout</a>
               
                </div>
            </div>
        </nav>
    </div>
</div>