
<!-- <div class="icons">
    <div class="header-blue">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
            <div class="container-fluid"><a class="navbar-brand" routerLink="#">خيركم</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="auth-items collapse navbar-collapse" id="navcol-1">
                    <div class="items">
                        <ul class="nav navbar-nav">
                          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/home">الرئيسية</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/GetAllCateogries">الأقسام</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/course/">الدورات التدريبية</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/users">users</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/addCourse">addCourse</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/AddCategory">AddCategory</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/GetAllCateogries">GetAllCategories</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="profile/6094176a69847e3280cb3f46">noor Profile</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="profile/edit/609ad62d551ca8002dc8f143">edit noor Profile</a></li> 
                      </ul>
                    </div>
                    
                    <div class="auth">
                      <span class="navbar-text"><a class="login" routerLink="register">تسجيل الدخول</a></span>
                      <a  class="btn btn-light action-button" role="button" routerLink="login">الدخول</a>
                      <a *ngIf='currentUserName!= "guest" 'class="btn btn-light action-button" role="button"(click)="logout()">logout</a>
                    </div>
               
                </div>
            </div>
        </nav>
    </div>
</div> -->


<div class="container-xxl">
 <!-- START NAVBAR -->
 <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#"><h1><span class="logo">خَيْرُ</span>كُمْ</h1></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home"  routerLink="/home">الرئيسية <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#category" routerLink="/GetAllCateogries">الأقسام <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#course" routerLink="/course/">الدورات التدريبية <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">تواصل معانا<span class="sr-only">(current)</span></a>
        </li>          
      </ul>
      <form class="form-inline my-2 my-lg-0">          
        <button class="button-style btn my-2 my-sm-0" type="submit" routerLink="register">إنشاء حساب</button>&nbsp; &nbsp;
        <button class="button-style btn my-2 my-sm-0" type="submit" routerLink="login">تسجيل الدخول</button>
      </form>
    </div>
  </div>
</nav>
<!-- END NAVBAR -->
</div>