.navbar {    
    z-index: 10;
    text-align: right;
    color: #fff;    
    direction: rtl;   
    background-color: #222222;
    border-bottom: 5px solid #FFAD05;
}
.navbar .logo {color: #FFAD05;}

.navbar a {color: #fff;}

.navbar .nav-link {
    font-size: 17px;
    color: #fff;
}
.navbar .nav-link:hover {
    color: #FFAD05;
}
.navbar .nav-link:hover::after{
    width: 100%;
}
.navbar .nav-link::after{ 
    content: ''; 
    color: #FFAD05; 
    background-color: #FFAD05; 
    display: block; 
    width: 0; 
    height: 2px; 
    transition: width .3s;
}
.navbar .collapse .navbar-nav {
    margin-left: 150px;    
}
.navbar .collapse .navbar-nav .nav-item {
    padding: 0 5px;
}

@media screen and (max-width: 990px){
    .navbar {background-color: #222222;}
    .navbar .logo {color: #fff;}  
    .navbar { border-bottom: 5px solid #FFAD05; }
}

.navbar form .button-style{
    position: relative; 
    // border: 1px solid #FFAD05;   
    // background-color: transparent;
    // color: #fff;    
    // transition: all 1s ease;
    background-image: linear-gradient(to right,#ffe5b3, #ffaa00);

}

// .navbar form .button-style::before {
//     background-color: #FFAD05;
//     color: #fff;
//     content: "";
//     width: 0%;
//     height: 100%;
//     position: absolute;    
//     left: 0%;
//     top: 0%;
//     transform: translate(0%, 0%);
//     z-index: -1;
//     transition: all 0.5s ease;
// }

// .navbar form .button-style:hover:before{
//     width: 100%;
//     color: #fff;    
// }