.navbar {    
    z-index: 10;
    text-align: right;
    color: #fff;    
    direction: rtl;   
    background-color: #333;    
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right,#ffe5b3, #ffaa00) 1;
}
.navbar .logo {color: #FFAD05;}

.navbar .title {color: #fff; font-family: "old-antic-decorative";}

.navbar .line {
    font-size: 17px;
    color: #fff;
    display: inline-block;
}
.navbar .line:hover {
    color: #FFAD05;
}
.navbar .line:hover::after{
    width: 100%;
}
.navbar .line::after{ 
    content: ''; 
    color: #FFAD05; 
    background-color: #FFAD05; 
    display: block; 
    width: 0; 
    height: 2px; 
    transition: width .3s;
}
.navbar .collapse .navbar-nav {
    margin-left: 150px;    
}
.navbar .collapse .navbar-nav .nav-item {
    padding: 0 5px;
}

// .navbar form {display: none;}
.navbar form .button-style{
    position: relative; 
    // border: 1px solid #FFAD05;   
    // background-color: transparent;
    // color: #fff;    
    // transition: all 1s ease;
    background-image: linear-gradient(to right,#ffe5b3, #ffaa00);

}

.navbar .user {margin-right: 48px;}
.navbar .user .notification {margin-left: -20px;}
.navbar .user .notification .bell{
    color: #FFAD05;
    font-size: 20px; 
    margin-top: 4px; 
    background-color: #757575 ; 
    padding: 6px 8px;  
    border-radius: 50%;
}

// .navbar form .button-style::before {
//     background-color: #FFAD05;
//     color: #fff;
//     content: "";
//     width: 0%;
//     height: 100%;
//     position: absolute;    
//     left: 0%;
//     top: 0%;
//     transform: translate(0%, 0%);
//     z-index: -1;
//     transition: all 0.5s ease;
// }

// .navbar form .button-style:hover:before{
//     width: 100%;
//     color: #fff;    
// }