footer {
    background-color: #333;
    border-top-width: 5px;
    border-top-style: solid;
    border-image: linear-gradient(to right,#ffe5b3, #ffaa00) 1;       
}

footer .text p{
    font-size: 20px;
    color: #fff;
}

i {
    color: #fff;
    font-size: 20px;    
}
