<app-header></app-header>

<div class="container-xxl">

<section class="banner d-flex justify-content-center align-items-center text-center">
  <div class="content">
    <div class="title">
      <span>الأقسام</span>
    </div>
  
    <div class="links">
      <a class="text-decoration-none" href="/home"> الرئيسية </a>
      <span>/ الأقسام </span>
    </div>
  </div>
</section>

<section class="all-categories">
  <div class="container-xxl">    
    <div class="row d-flex justify-content-center align-items-center mb-5">      
      <div  *ngFor="let category of categoryList">
        <a class="content text-center" routerLink="/getCateogryById/{{category._id}}">

          <div class="image d-flex justify-content-center align-items-center">
            <img class="" src="{{category.Image}}" alt="تحميل الصـــورة" width="290px" height="300px">
          </div>

          <div class="title mt-4">
            <h3>{{category.Title}}</h3>
          </div>                    

          <!-- <div class="description mt-2">
            <p>{{category.Description}}</p>          
          </div> -->
          
          <!-- <div class="details mb-4">
            <a class="text-decoration-none">عرض التفاصيل <i class="fas fa-arrow-left"></i></a>                      
          </div> -->

        </a>        
      </div>

    </div>
  
    {{errorMsg}}
  </div>
</section>
</div>
  <app-footer></app-footer>