.container-xxl{
  background-color: #fff;
}
.banner{
    background: linear-gradient(to right, rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url('https://cdn.wallpapersafari.com/67/44/VcLXHh.jpg') center center;
    background-size: cover;    
    height: 80vh;
    // overflow: hidden;
}
.banner .title span {
    font-size: 70px;
    font-weight: bold;
    color: #fff;    
}
.banner .links a, .banner .links span 
{
    color: #fff; 
    font-size: 25px;
}
.banner .links a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
} 

.all-categories{
  overflow: hidden;
  margin-top: 90px;
}
.all-categories .image img{
  min-height: 300px;
  max-height: 300px;
  min-width: 290px;
  max-width: 290px;
}
.all-categories .content {    
    width: 290px;
    height: 400px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10px 15px;
    color: #333;
    text-decoration: none; 
    overflow: hidden;       
  }

.all-categories .content h3 {
    border-bottom: 2px solid #FFAD05;
    display: inline-block;
    text-align: center;
    font-weight: normal;
  }
.all-categories .content p {
    line-height: 30px;
    // color: gray;
  }
  .search .search-btn{
    font-size: 20px;
    color: #fff;
  }
  ::placeholder {
    font-size: 20px;
  }

.all-categories .content:hover {
    background-color: #FFAD05;
    color: #fff;
    transition: all 1s ease-in-out;
  }

// .all-categories .details a{
//     color: #333;
// }

// .all-categories .details a:hover {
//     border-bottom: 2px solid #333;
//     padding-bottom: 2px;
// }