<div>
<span> 
    <h3>Course Details</h3> 
    <span class="card" style="width:400px">
        <img class="card-img-top" src="" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4>{{course.tittle}}</h4>
         <p>{{notification.courseId}}</p>
         <p>{{category.Title}}</p>
        </div>
    </span>
</span>
<span> 
    <h3>Teacher Details</h3> 
    <span class="card" style="width:400px">
        <img class="card-img-top" src="" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4>{{teacher.userName}} : اسم المعلم / المعلمة</h4>
         <p>{{teacher.email}} : البريـــــد الالكترونى  </p>
         <p>{{teacher.phone}} : رقم التليفون</p>
         <p>{{teacher.gender}} : الجنـــس</p>
         <p>{{teacherAge}}:  العمر </p>
         <p>{{teacher.country}}: الدولة</p>

        </div>
    </span>
</span>
</div>
<div>
    <button class="btn btn-success " [disabled]="teacher.verifiedTeacher" (click)="verified()" >اعتماد المعلم  </button>
    <button class="btn btn-success " [disabled]="!teacher.verifiedTeacher" (click)="unVerified()" >سحب الاعتماد </button>
    <button class="btn btn-success" (click)="addClass()">إضافة مجموعة للمعلم</button> 
    <button class="btn btn-secondary" (click)="NotifyToTeacherWithNotAccept()">رفض المعلم</button> 
                                   
</div>
