<app-header></app-header>

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

<div class="container emp-profile">
  <form class="course-details mt-5 mb-5" method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">          
          <!-- {{ course.image }} -->
            <img class="img-fluid" src="" alt="تحميل الصورة" />          
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          ></div>
          <div class="row">
            <div class="col-md-6">
              <label>اسم الدورة التدربية</label>
            </div>
            <div class="col-md-6">
              {{ course.tittle }}
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <label>الصورة</label>
            </div>
            <div class="col-md-6">
              <img src="{{ course.image }}" alt="تحميل الصورة" />
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-6">
              <label>الوصـــف</label>
            </div>
            <div class="col-md-6">
              <p>{{ course.description }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>القســـم</label>
            </div>
            <div class="col-md-6">
              <p>{{ courseCategoryTitle }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>التقييم</label>
            </div>
            <!-- (mouseover)="changeColor=true" (mouseout)="changeColor=false" -->
            <div class="col-md-6" (mouseover)="changeColor=true" (mouseout)="changeColor=false">
              <span class="favourit"><i class="far fa-star"></i></span>
              <span class="favourit"><i class="far fa-star"></i></span>
              <span class="favourit"><i class="far fa-star"></i></span>
              <span class="favourit"><i class="far fa-star"></i></span>
              <span class="favourit"><i class="far fa-star"></i></span>

              <span class="colored-favourit"><i class="fas fa-star"></i></span>
              <span class="colored-favourit"><i class="fas fa-star"></i></span>
              <span class="colored-favourit"><i class="fas fa-star"></i></span>
              <span class="colored-favourit"><i class="fas fa-star"></i></span>
              <span class="colored-favourit"><i class="fas fa-star"></i></span>
              <!-- <p>{{courseCategoryTitle}}</p> -->
            </div>
          </div>
          <div class="">
            <button class="btn btn-primary" (click)="notifyWithNewWaitingStudent()">
              سجل كطالب
            </button>
            <button class="btn btn-success" (click)="notifyWithNewWaitingTeacher()">
              درّس كمعلم
            </button>
            <button class="btn btn-warning">
              نسيت اسم الزرار ^_^
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  

  <h3>التعليقات</h3>
  <div class="comments">
    <div class="row" *ngFor="let comment of courseComments">     
      <div class="comment-image col-md-1 d-flex justify-content-center align-items-center">
        <img class="img-fluid" src="https://www.materialui.co/materialIcons/action/account_circle_grey_192x192.png" width="50px">
      </div>

      <div class="coment-text col-md-11 mt-3 d-flex align-items-center">
        <div>
          <a routerLink="/profile/{{ comment.userID }}">          
            <b>{{ comment.userName }} </b>
         </a>
         <p>{{ comment.content }}</p>
        </div>
      </div>
    </div>
  </div> 

  <!-- <h3 class="mt-5">اترك تعليقاً</h3> -->
  <form class="" [formGroup]="addCommentForm" enctype="multipart/form-data">
    <div class="form-group">
      <!-- <label>التعليق</label> -->
      <input formControlName="content" type="text" class="form-control write mt-4 mb-2" placeholder="اترك تعليقاً" />
    </div>

    <input
      type="submit"
      class="submit btn btn-light mb-2"
      value="أضف تعليقاً"
      (click)="AddComment()"
    />
  </form>
</div>

<app-footer></app-footer>
