<app-dashboard-header></app-dashboard-header>

<main>
  <div class="container-xxl">
    <h2 class="mt-5">المجموعـــــــــات</h2>
    <table class="table table-bordered table-hover mt-5 mb-5">
      <thead class="thead-dark">
        <tr>
          <th>رقــم التسلسل</th>
          <th>رقـــم المجموعة</th>
          <th>اقل سن مسموح بيه للطلاب</th>
          <th>اكبر سن مسموح بيه للطلاب</th>
          <th>الجنــــس</th>
          <th>رابط المجموعة</th>
          <th>كلمة سر لرابط المجموعة</th>
          <th>تاريخ البداية</th>
          <th>تاريخ النهاية</th>
          <th>اسم الدورة التدربية</th>
          <th>اسم المعلم / المعلمة</th>
          <th>الطلبة / الطالبات</th>
          <th>العمليــات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clas of classes; let i = index">
          <td>{{ clas._id }}</td>
          <td>{{ clas.Number }}</td>
          <td>{{ clas.StudentsMinAge }}</td>
          <td>{{ clas.StudentsMaxAge }}</td>
          <td>{{ clas.StudentGender }}</td>
          <td>{{ clas.ClassLink }}</td>
          <td>{{ clas.ClassLinkPassword }}</td>
          <td>{{ clas.StartDate }}</td>
          <td>{{ clas.EndDate }}</td>
          <td>{{ clas.CourseId }}</td>
          <td>{{ clas.TeacherId }}</td>
          <td>الطلاب</td>
          <td>
            <a class="delete btn btn-secondary" (click)="delete(clas._id)">الحـــذف</a>
            <a class="update btn btn-success" routerLink="/updateClass">التعـــديل</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<app-dashboard-footer></app-dashboard-footer>
