
<div class="container emp-profile">
            <form method="post">
              
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                    
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                
                                    <img src="https://khairokomuploadfiles.azurewebsites.net/files/{{category.Image}}" height="200px" width="200px"> 
                                    
                                    <div class="row">
                                            <div class="col-md-6">
                                                <label>Title</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{category.Title}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Description</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{category.Description}}</p>
                                            </div>
                                        </div>           
                                        <div style="float: left;margin-left: 10px;"><a class="btn btn-secondary " (click)="delete()" >Remove</a></div>
                                        <div style="float: left;margin-left: 10px;"><a class="btn btn-warning"  routerLink="/UpdateCategory/{{id}}">Update</a></div>
                                        
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>