<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                  
                    <div class="col-md-2">
                      <a class="btn btn-warning" href="profile/edit/{{id}}" style="cursor: pointer;" >  Edit Profile  </a> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                    
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                      
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Title</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{category.Title}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Description</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{category.Description}}</p>
                                            </div>
                                        </div>
                                      
                                        <a class="btn btn-primary " (click)="delete()" >Remove Account</a>
                           
                              
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>