<div>
    <span> 
        <h3>My Joined Classes</h3> 
        <span class="card" style="width:400px">
            <div class="card-body" *ngFor="let joinedClass of showJoinedClasses">
             <p>{{joinedClass.Number}} : رقم المجموعة</p>
             <p>{{joinedClass.ClassLink}} : رابط المجموعة</p>
             <p>{{joinedClass.ClassLinkPassword}} : كلمة السر لرابط المجموعة</p>
             <p>{{joinedClass.StartDate}} : وقت البداية</p>
             <p>{{joinedClass.EndDate}}: نهاية الوقت</p>
             <p>{{joinedClass.CourseId}} : الدورة التدربية</p>
             <p>{{joinedClass.TeacherId}} : المعلم/ة</p>
            </div>
        </span>
    </span>
    <span> 
        <h3>My Teached Courses</h3> 
        <span class="card" style="width:400px">
            <div class="card-body" *ngFor="let teachedCourse of showTeachedCourses">
              <p>{{teachedCourse.tittle}}</p>
              <p>{{teachedCourse.description}}</p>
              <p>{{teachedCourse.categoryID}}</p>
            </div>
        </span>
    </span>
    </div>
    <!-- <div>
        <button class="btn btn-success " [disabled]="teacher.verifiedTeacher" (click)="verified()" >اعتماد المعلم  </button>
        <button class="btn btn-success " [disabled]="!teacher.verifiedTeacher" (click)="unVerified()" >سحب الاعتماد </button>
        <button class="btn btn-success" (click)="addClass()">إضافة مجموعة للمعلم</button> 
        <button class="btn btn-secondary" (click)="NotifyToTeacherWithNotAccept()">رفض المعلم</button> 
                                       
    </div> -->
    