<app-header></app-header>
<section>
    <div  class="row container" style="display:flex;">
        <span class="col-md-6"> 
            <h3> مجموعاتي الدراسية كطالب </h3> 
            <span class="card" style="width:400px">
                <div class="card-body" *ngFor="let joinedClass of showJoinedClasses">
                    <a class="btn btn-success" routerLink="/getClassById/{{joinedClass._id}}">{{joinedClass.Number}}</a>
                </div>
            </span>
        </span>
    
        <span class="col-md-6"> 
            <h3> دوراتي التدريبية كمعلم </h3> 
            <span class="card" style="width:400px">
                <div class="card-body" *ngFor="let teachedCourse of showTeachedCourses">
                  <a class="btn btn-warning" routerLink="/getCourseById/{{teachedCourse._id}}">{{teachedCourse.tittle}}</a>
                </div>
            </span>
        </span>
        </div>
</section>
    <app-footer></app-footer>