<div class="category" style="text-align: center;">
    <!-- <div class="card" style="float:right; margin-left: 40px;">
        <img src="../../assets/images/download.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Database</h1>
        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
      </div> -->
      <div class="card" style="float:right;margin-left: 40px;">
        <img src="http://montdatarbawy.com/upload/f9ek7cnedzsc00wo0.jpg" alt="Denim Jeans" style="width:100%">
        <h1>التدبر</h1>
        <!-- <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p> -->
      </div>
      <div class="card" style="float:right;margin-left: 40px;">
        <img src="http://montdatarbawy.com/upload/f9ek7cnedzsc00wo0.jpg" alt="Denim Jeans" style="width:100%">
        <h1>الحفظ</h1>
        <!-- <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p> -->
      </div>
    
</div>
