<div style="text-align: center;">
    <div class="card" style="float:right; margin-left: 40px;">
        <img src="../../assets/images/download.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Database</h1>
        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
      </div>
      <div class="card" style="float:right;margin-left: 40px;">
        <img src="../../assets/images/download (3).jpg" alt="Denim Jeans" style="width:100%">
        <h1>Programming</h1>
        <p>Some text about the jeansSome text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
      </div>
      <div class="card" style="float:right;margin-left: 40px;">
        <img src="../../assets/images/download (2).jpg" alt="Denim Jeans" style="width:100%">
        <h1>Desgin</h1>
        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
      </div>
    
</div>
