<br/>
 <div class="row" >
    <div  *ngFor="let class of classList">
      <div class="card" style="float:right;margin-left: 40px; width: 250px; height: 280px;">
        <h5 class="card-title">Number : {{class.Number}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">StudentsMinAge:{{class.StudentsMinAge}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">StudentsMaxAge:{{class.StudentsMaxAge}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">StudentGender:{{class.StudentGender}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">ClassLink:{{class.ClassLink}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">ClassLinkPassword:{{class.ClassLinkPassword}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">StartTime:{{class.StartTime}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">EndTime:{{class.EndTime}}</h6>
      <br>
        <br>
        <a class="btn btn-primary"  routerLink="/GetClassByID/{{class._id}}">Show Details</a>                      
      </div>
      <br>
    </div>
  </div>
  {{errorMsg}}