<app-header></app-header>

<div class="container-xxl">
  <section class="banner d-flex justify-content-center align-items-center text-center">
    <div class="content">
      <div class="title">
        <span>المجموعات</span>
      </div>
    
      <div class="links">
        <a class="text-decoration-none" href="/home"> الرئيسية </a>
        <span> / </span>
        <a class="text-decoration-none" href="/"> القسم </a> 
        <span> / </span>
        <a class="text-decoration-none" href="/"> الدورة التدريبية </a>        
        <span>/ المجموعات </span>
      </div>
    </div>
  </section>
  
   <section class="all-classes">
     <div class="container">
      <div class="row d-flex justify-content-center align-items-center mt-5 mb-5" >
        <div  *ngFor="let class of classList">
          <div class="content mt-5 mb-5 text-center">
            <h3 class="card-title">رقم المجموعة: {{class.Number}}</h3>
            <h6 class="card-subtitle mb-2 text-muted">اقل سن مسموح بيه للطلاب: {{class.StudentsMinAge}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">اكبر سن مسموح بيه للطلاب: {{class.StudentsMaxAge}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">الجنــــس: {{class.StudentGender}}</h6>                   
            <a class="btn btn-primary"  routerLink="/getClassById/{{class._id}}">Show Details</a>                      
          </div>        
        </div>
      </div>
      {{errorMsg}}
     </div>
   </section>
</div>

  <app-footer></app-footer>