.container-xxl{
  background-color: #fff;
}
.banner{
    background: linear-gradient(to right, rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url('https://cdn.wallpapersafari.com/67/44/VcLXHh.jpg') center center;
    background-size: cover;    
    height: 80vh;
    // overflow: hidden;
}
.banner .title span {
    font-size: 60px;
    font-weight: bold;
    color: #fff;    
}
.banner .links a, .banner .links span 
{
    color: #fff; 
    font-size: 18px;
}
.banner .links a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
} 

.all-classes{overflow: hidden;}
.all-classes .content {    
    padding: 9% 2%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    color: #333;
    text-decoration: none; 
    overflow: hidden; 
    width: 300px;      
  }

  i {
  font-size: 40px; 
  border: 1px solid #333;
  padding: 25% 20%;
  background-color: #333;
  color: #fff;
  margin-left: 25px;
  margin-top: 20px;
}
.all-classes .content .frame {
  border: 1px solid #333;
  width: 70px;
  height: 75px;
  margin-right: 35%;
}
.all-classes .content h3 {
    // border-bottom: 2px solid #FFAD05;    
    display: inline-block;
    text-align: center;
    font-weight: normal;
  }
.all-classes .content p {
    line-height: 20px;
    font-size: 20px;
    // color: gray;
  }

.all-classes .content:hover {
    background-color: #FFAD05;
    color: #fff;
    transition: all 1s ease-in-out;
  }

.all-classes .details a{
    color: #333;
}

.all-classes .details a:hover {
    border-bottom: 2px solid #333;
    padding-bottom: 2px;
}