
<div class="container">
    <h2>ADD Course </h2>
    <form  [formGroup]="addForm" enctype="multipart/form-data" >
        {{addForm.value |json}}
        <div class="form-group">
            <label>Title</label>
            <input formControlName="tittle" [class.is-invalid]="tittle.invalid && tittle.touched" type="text"
                class="form-control" />
            <div *ngIf=" tittle.errors && (tittle.invalid && tittle.touched)">
                <small class="text-danger" *ngIf="tittle.errors?.required">
                   is required
                </small>
            </div>

        </div>
        <div class="form-group">
            <label>image</label>
            <input formControlName="image" type="text" class="form-control" />
        </div>
       
        <div class="form-group">
         <label>description</label>
         <input  type="text" [class.is-invalid]="description.invalid && description.touched" formControlName="description" class="form-control">
            <small class="text-danger" [class.d-none]="description.valid || description.untouched">
                description is not valid
            </small>
        </div>

        <div class="form-group">
            <label>category id</label>
            <input formControlName="categoryID" type="text" class="form-control" />
        </div>

        <input type="submit" class="btn btn-primary" value="Save" (click)="submit()">
    </form>
</div>