
<div class="container">
    <h2>ADD Course </h2>
    <form  [formGroup]="addForm" enctype="multipart/form-data" >
        {{addForm.value |json}}
        <div class="form-group">
            <label>Title</label>
            <input formControlName="tittle" [class.is-invalid]="tittle.invalid && tittle.touched" type="text"
                class="form-control" />
            <div *ngIf=" tittle.errors && (tittle.invalid && tittle.touched)">
                <small class="text-danger" *ngIf="tittle.errors?.required">
                   is required
                </small>
            </div>

        </div>
   
        <div class="form-group">
         <label>description</label>
         <input  type="text" [class.is-invalid]="description.invalid && description.touched" formControlName="description" class="form-control">
            <small class="text-danger" [class.d-none]="description.valid || description.untouched">
                description is not valid
            </small>
        </div>

   
    <div class="form-group">
        <label>Category: </label>
        <select class="custom-select"  formControlName="categoryID">
            <option *ngFor="let category of categories" value="{{category._id}}">{{category.Title}}
            </option>
        </select>
       
    </div>



    <div class="form-group">
        <div class="progress" *ngIf="existingFile">
            <div
              class="progress-bar progress-bar-striped bg-danger"
              attr.aria-valuenow="{{ progress }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: progress + '%' }"
            >
              {{ progress }}%
            </div>
          </div>
          
          <label class="btn btn-default">
            <input type="file" (change)="chooseFile($event)" />
          </label>
          <img src="https://khairokomuploadfiles.azurewebsites.net/files/{{fileName}}" height="200px" width="200px">
          <button class="btn btn-primary" [disabled]="!chosenFiles" (click)="upload()">
            Upload
          </button>
          
          <div class="alert alert-light">{{ msg }}</div>
    </div>

        <input type="submit" class="btn btn-primary" value="Save" (click)="submit()">
    </form>
</div>