.container-xxl{
    background-color: #fff;
}

.banner{
    background: linear-gradient(to right, rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url('https://cdn.wallpapersafari.com/67/44/VcLXHh.jpg') center center;
    background-size: cover;    
    height: 80vh;
    overflow: hidden;
}
.banner .title span {
    font-size: 70px;
    font-weight: bold;
    color: #fff;    
}
.banner .links a, .banner .links span 
{
    color: #fff; 
    font-size: 25px;
}
.banner .links a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
} 

i {
    font-size: 19px;
    color: #7B9699;
}
.profile p{
    font-size: 25px;
}
.profile a{
    font-size: 20px;
}
.profile .profile-img img{
    min-height: 150px;
    max-height: 150px;
    min-width: 150px;
    max-width: 150px;
}
.profile .edu .courses, .profile .edu .favourit, .profile .edu .rate, .profile .edu .certificate{
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.profile .edu .rate .stars .filledStar {
    font-size: 40px;
    color: #FFBD37;
}
.profile .edu .rate .stars .star {
    font-size: 40px;
    color:rgba(192, 192, 192, 0.623);
}
.profile .edu .certificate .gold, .profile .edu .certificate .silver, 
.profile .edu .certificate .bronze {
    font-size: 70px;
}
.profile .edu .certificate .gold{
    color: #F4AE1D;
}
.profile .edu .certificate .silver{
    color: #757371;
}
.profile .edu .certificate .bronze{
    color: #CC6326;
}


// .emp-profile{
//     padding: 3%;    
//     border-radius: 0.5rem;
// }
// .profile-img{
//     text-align: center;
// }
// .profile-img img{
//     width: 70%;
//     height: 100%;
// }
// .profile-img .file {
//     position: relative;
//     overflow: hidden;
//     margin-top: -20%;
//     width: 70%;
//     border: none;
//     border-radius: 0;
//     font-size: 15px;
//     background: #212529b8;
// }
// .profile-img .file input {
//     position: absolute;
//     opacity: 0;
//     right: 0;
//     top: 0;
// }
// .profile-head h5{
//     color: #333;
// }

// .profile-edit-btn{
//     border: none;
//     border-radius: 1.5rem;
//     width: 70%;
//     padding: 2%;
//     font-weight: 600;
//     color: #6c757d;
//     cursor: pointer;
// }
// .proile-rating{
//     font-size: 12px;
//     color: #818182;
//     margin-top: 5%;
// }
// .proile-rating span{
//     color: #495057;
//     font-size: 15px;
//     font-weight: 600;
// }
// .profile-head .nav-tabs{
//     margin-bottom:5%;
// }
// .profile-head .nav-tabs .nav-link{
//     font-weight:600;
//     border: none;
// }
// .profile-head .nav-tabs .nav-link.active{
//     border: none;
//     border-bottom:2px solid #0062cc;
// }
// .profile-work{
//     padding: 14%;
//     margin-top: -15%;
// }
// .profile-work p{
//     font-size: 12px;
//     color: #818182;
//     font-weight: 600;
//     margin-top: 10%;
// }
// .profile-work a{
//     text-decoration: none;
//     color: #495057;
//     font-weight: 600;
//     font-size: 14px;
// }
// .profile-work ul{
//     list-style: none;
// }
// .profile-tab label{
//     font-weight: 600;
// }
// .profile-tab p{
//     font-weight: 600;
// }