<app-dashboard-header></app-dashboard-header>

<main>
  <div class="container">
    <h2>الاقســـــــام</h2>
    <table class="table table-light mt-3">
      <thead class="thead-light">
        <tr>
          <th>رقــم التسلسل</th>
          <th>اســم القســـم</th>
          <th>الصورة</th>
          <th>الوصـــف</th>
          <th>العمليــات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; let i = index">
          <td>{{ category._id }}</td>
          <td>{{ category.Title }}</td>
          <td>
            <img
              src="{category.Image}"
              width="200px"
              height="auto"
              alt="تحميل الصورة"
            />
          </td>
          <td>{{ category.Description }}</td>
          <td>
            <a class="btn btn-secondary" (click)="delete(category._id)"
              >الحـــذف</a
            >
            <a class="btn btn-success" routerLink="/updateCategory/category._id"
              >التعـــديل</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<app-dashboard-footer></app-dashboard-footer>
