main {
  display: block;
  background-color: #fff;
  overflow: hidden;
}
main .delete {
  background-color: #333;
  color: #fff;
  border: none; 
}
main .update {
  background-color: rgba(255, 173, 5, 0.8);
  color: #fff;
  border: none;
}