<app-header></app-header>
<br>
<main>
    <div class="container">
      <b style="text-align: center; margin: auto;">{{class.Number}}</b>
      <form [formGroup]="addForm"  *ngIf="!studentsEnded"enctype="multipart/form-data" style="border:1px solid black; margin: 10px; padding: 10px;" >
        
          <div class="form-group">
            <b style="text-align: center;">{{currentStudentName}}</b><br>
            <label>رأيك فى أداء الطالب</label>
            <input
              formControlName="message"
              [class.is-invalid]="message.invalid && message.touched"
              type="text"
              class="form-control"
            />
            <div *ngIf="message.errors && message.invalid && message.touched">
              <small class="text-danger" *ngIf="message.errors?.required">
                الرأى مطلوب
              </small>
              <small class="text-danger" *ngIf="Title.errors.minlength">
                اقل عدد احرف مسموح بها 3 احروف
              </small>
              <small *ngIf="Title.errors?.forbiddenName">
                {{ Title.errors?.forbiddenName.value }} غير مسموح بيه
              </small>
            </div>
          </div>
    
          <div class="form-group">
            <label>التقييم</label>
            <input
              formControlName="starsNumber"
              [class.is-invalid]="starsNumber.invalid && starsNumber.touched"
              type="text"
              class="form-control"
            />
            <div
              *ngIf="
                starsNumber.errors && starsNumber.invalid && starsNumber.touched
              "
            >
              <small class="text-danger" *ngIf="starsNumber.errors?.required">
                التقييم مطلوب
              </small>
            </div>
          </div>
    
          <input
            type="submit"
            class="add btn btn-primary"
            value="إضافة"
            (click)="submit()"
            [disabled]="!addForm.valid"
          />
    
     
        
        <br>
      </form>
      <p *ngIf="studentsEnded">لقد أنهيت تقييم جميع طلبة الفصل شكرا</p>
    </div>
  </main>
  <app-footer></app-footer>