<app-header></app-header>
<br>
<main>
    <div class="container">
      
      <div style="background-color: #ffac0593; padding: 15px; border: 1px black solid;">
        <b>لقد انهيت التعليم فى هذه المجموعة نطلب منك تقييم طلابك في المجموعة</b>
        <hr>
        <br>
        <div>
          <div class="row">
            <div class="col-md-3">
              <label>اسم الدورة التدربية</label>
            </div>
            <div class="col-md-6">
              <b>{{courseTitle}}</b> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>رقـــم المجموعة</label>
            </div>
            <div class="col-md-6">
              <p>{{ class.Number }}</p>
            </div>
          </div>
        </div>
      </div>
     
      <form [formGroup]="addForm"  *ngIf="!studentsEnded"enctype="multipart/form-data" style="border:1px solid black; margin: 10px; padding: 10px;" >
        
          <div class="form-group">
       
            <label>رأيك فى أداء الطالب</label><br>
            <b style="text-align: center;">{{currentStudentName}}</b><br>
            <input
              formControlName="message"
              [class.is-invalid]="message.invalid && message.touched"
              type="text"
              class="form-control"
            />
            <div *ngIf="message.errors && message.invalid && message.touched">
              <small class="text-danger" *ngIf="message.errors?.required">
                الرأى مطلوب
              </small>
              <small class="text-danger" *ngIf="Title.errors.minlength">
                اقل عدد احرف مسموح بها 3 احروف
              </small>
              <small *ngIf="Title.errors?.forbiddenName">
                {{ Title.errors?.forbiddenName.value }} غير مسموح بيه
              </small>
            </div>
          </div>
    
         <!--  <div class="form-group">
            <label>التقييم</label>
            <input
              formControlName="starsNumber"
              [class.is-invalid]="starsNumber.invalid && starsNumber.touched"
              type="text"
              class="form-control"
            />
            <div
              *ngIf="
                starsNumber.errors && starsNumber.invalid && starsNumber.touched
              "
            >
              <small class="text-danger" *ngIf="starsNumber.errors?.required">
                التقييم مطلوب
              </small>
            </div>
          </div>
     -->


     <div class="form-group">
      <label>التقييم</label>

      <input type="radio" name="stars"(change)="checkChanged(1,$event.target.checked)"value="1" > 1 
      <input type="radio" name="stars"(change)="checkChanged(2,$event.target.checked)" value="2"> 2
      <input type="radio" name="stars"(change)="checkChanged(3,$event.target.checked)" value="3"> 3
      <input type="radio" name="stars"(change)="checkChanged(4,$event.target.checked)"  value="4"> 4
      <input type="radio" name="stars" (change)="checkChanged(5,$event.target.checked)"  value="5"> 5
       

    </div>
          <input
            type="submit"
            class="add btn btn-primary"
            value="إضافة"
            (click)="submit()"
            [disabled]="!addForm.valid"
          />
    
     
        
        <br>
      </form>
      <p *ngIf="studentsEnded"><br>لقد أنهيت تقييم جميع طلبة الفصل شكرا</p>
    </div>
  </main>
  <app-footer></app-footer>