<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>اسم الدورة التدربية</label>
                                            </div>
                                            <div class="col-md-6">
                                                {{course.tittle}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>الصورة</label>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="{{course.image}}" alt="تحميل الصورة" >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>الوصـــف</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{course.description}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>القســـم</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{courseCategoryTitle}}</p>
                                            </div>
                                        </div>       
                            </div>
                        </div>
                    </div>
            </form>       
            
            <h3>Comments</h3>

            <div class="form-group">
                    <span *ngFor="let comment of comments">
                        <div *ngIf="comment.courseID===id"  class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">user#</h5>
                              <p class="card-text">{{comment.content}}</p>
                            <!--   <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a> -->
                            </div>
                          </div>
                    </span>
            </div>

<!--             <button (click)="enroll()" >Enroll</button>
 -->
            

            <br><br><br><br><br>
            <h3>Leave a comment</h3>
            <form  [formGroup]="addCommentForm" enctype="multipart/form-data" >
                <div class="form-group">
                    <label>Content</label>
                    <input formControlName="content" type="text"
                        class="form-control" />
                </div>
        
                <input type="submit" class="btn btn-primary" value="Add Comment" (click)="AddComment()">
            </form>
        
        </div>