<div class="course row justify-content-center align-items-center">

  <div class="content text-center mt-4">
    <div class="photo">      
      <div class="frame  d-flex justify-content-center align-items-center">
        <i class="far fa-check-circle"></i>  
      </div>     
    </div>
    <div class="title">
      <h3 class="mt-5">تصحيح تلاوة</h3>
    </div>
    <p></p>
  </div>      
  
  <div class="content text-center mt-4">
    <div class="photo">  
      <div class="frame  d-flex justify-content-center align-items-center">
        <i class="fas fa-volume-up"></i>
      </div>          
    </div>       
    <div class="title">
      <h3 class="mt-5"> تسميع حر </h3>
    </div>
    <p></p>
  </div> 
  
  <div class="content text-center mt-4">
    <div class="photo">      
      <div class="frame  d-flex justify-content-center align-items-center">
        <i class="far fa-question-circle"></i>
      </div>      
    </div>       
    <div class="title">
      <h3 class="mt-5">أسباب النزول</h3>
    </div>
    <p></p>
  </div> 
</div>
