<div style="text-align: center;">
    <div class="card" style="float:right; margin-left: 40px;">
        <img src="../../assets/images/download (1).png" alt="Denim Jeans" style="width:100%">
        <h1>SQL Server</h1>
        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
      </div>
      <div class="card" style="float:right;margin-left: 40px;">
        <img src="../../assets/images/download.png" alt="Denim Jeans" style="width:100%">
        <h1>C# Programing</h1>
        <p>Some text about the jeans  Some text about the jeans  Some text about the jeansSome text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
      </div>
      <div class="card" style="float:right;margin-left: 40px;">
        <img src="../../assets/images/images.png" alt="Denim Jeans" style="width:100%">
        <h1>HTML & CSS</h1>
        <p>Some text about the jeans Some text Some text about the jeans about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
      </div>
    
</div>
