<!-- <app-header></app-header> -->

<div class="container">
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>رقم التسلسل</th>
                <th>اسم الدورة التدربية</th>
                <th>الوصـــف</th>
                <th>الصـــورة</th>
                <th>القســـم</th>
                <th>العمليــات</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses;let i= index">
                <td>{{course._id}}</td>
                <td>{{course.tittle}}</td>
                <td>{{course.description}}</td>
                <td><img src="{course.image}" width="200px" height="auto"/></td>
                <td>{{course.categoryID}}</td>
                <td>
                    <a class="btn btn-secondary " (click)="delete(course._id)" >الحـــذف</a>
                    <a class="btn btn-dark"  routerLink="/EditCourse/{{course._id}}">التعديــــل</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <app-footer></app-footer> -->
