<!--
<input [(ngModel)]='clientName'>
<br>
<h5>{{'Hello ' + clientName}} </h5>
<h1>{{storeName | uppercase}}</h1>
<img [src]="storeLogo">
<h3  *ngIf="discount!=0">{{"We offer an explicit discount of:" + discount |dicountpercent }}</h3>
<select >
     <option *ngFor='let c of categoryList'>{{c.Name}}</option>
</select>
<br><br>
--------------------------------
<table *ngIf='!isPurchased'>
      <th *ngFor = "let column of headers">
        {{column}}
      </th>
      <tr *ngFor = "let p of productList">
        <td  *ngFor = "let h of headers">
            {{p[h]}}
        </td>
      </tr>
</table>
--------------------------------
<br>
<h1 *ngIf='isPurchased'>{{"Thanks for purchasing from our Store :" + clientName}}</h1>
<button id='btn' (click)='buy()'>{{btnContent}}</button>
<br><br>
   -->
<!------------------------------------------------------------------------------->
<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Product List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow" *ngFor = "let p of productList">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">{{p.Name}}</h5>
                            <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">{{p.Price}} $</h6>
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul>
                            </div>
                        </div><img src={{p.Img}} alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>
</div>

<button (click)="gotToChild()">products With Discount</button>
<button (click)="gotToChild2()">products Without Discount</button>

<router-outlet></router-outlet>