<div class="progress" *ngIf="existingFile">
    <div
      class="progress-bar progress-bar-striped bg-danger"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
  
  <label class="btn btn-default">
    <input type="file" (change)="chooseFile($event)" />
  </label>
  
  <button class="btn btn-primary" [disabled]="!chosenFiles" (click)="upload()">
    Upload
  </button>
  
  <div class="alert alert-light">{{ msg }}</div>
  
  <div class="card">
    <div class="card-header">Files Info</div>
    <ul
      class="list-group list-group-flush"
      *ngFor="let file of FileDetail | async"
    >
      <li  class="list-group-item">
        <a href="{{ file.url }}">{{ file.name }}</a>
        <img src="{{file.url}}" style="height: 100px; width:100px;">
      </li>
    </ul>
  </div>