/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "cortoba" ;   
    src: url(assets/fonts/cortoba.ttf);
  }
  @font-face {
    font-family: "ahmed-lt-regular" ;
    src: url(assets/fonts/ahmed-lt-regular.ttf);    
  }
  @font-face {
    font-family: "basem-algharib" ;    
    src: url(assets/fonts/basem-algharib.ttf);  
  }
  @font-face {
    font-family: "old-antic-decorative" ;    
    src: url(assets/fonts/old-antic-decorative.ttf);    
  }
// @import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~bootstrap/dist/css/bootstrap-reboot.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

*{margin: 0; padding: 0; box-sizing: border-box;}
body{background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9))
    , url('assets/images/body-image.jpg'); text-align: right; direction: rtl;}