/* You can add global styles to this file, and also import other style files */
// @font-face {
//     font-family: Almarai;
//     src: url(../Fonts/Almarai-Regular.ttf);
//   }
@import "~bootstrap/dist/css/bootstrap.css";
*{margin: 0; padding: 0; box-sizing: border-box;}
body{background-image: linear-gradient(rgba(255, 255, 255, 0.86), rgba(255, 255, 255, 0.86))
    , url('assets/images/body-image.jpg');}