<div class="container-xxl">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">خيرُكُم</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"
              >الرئيسية <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            >
              الأقسام
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">الحفظ</a>
              <a class="dropdown-item" href="#">التدبر</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              الدورات التدريبية
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            تسجيل الدخول</button
          >&nbsp; &nbsp;
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            الدخول
          </button>
        </form>
      </div>
    </nav>
  </div>

  <div class="pic-wrapper">
    <figure class="pic-1">
      <div class="hadeth">
        <p class="first">-:قال رسول الله صلى الله عليه و سلم</p>
        <h2 class="second">"خيرُكُم مَن تعلَّمَ القرآنَ وعلَّمَهُ"</h2>
        <p class="third">رواه البخاريُّ</p>
      </div>
    </figure>
    <figure class="pic-2">
      <div class="study-ways col-sm-3">
        <h2>خيرُكُم</h2>
        <p>يمكنك أن تدرس حيث كنت وفق أحدث الطرق الدراسية</p>
        <p>
          تعليم مصور – مقاطع فيديو – مقاطع صوت – مقاطع موشن جرافيك. يمكنك
          المشاركة من بيتك عبر شاشة التلفاز أثناء البث المباشر
        </p>
      </div>
    </figure>
    <figure class="pic-3">
      <div class="registration col-sm-3">
        <h2>سجل الآن</h2>
        <p>التسجيل متاح حتى انتهاء حجز اكتمال العدد</p>
        <p>إدارة خيركم</p>
      </div>
    </figure>
    <figure class="pic-4"></figure>
  </div>


  <section class="ftco-section categoryOnline">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h2 class="mb-4">الأقسام</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <app-index-category></app-index-category>
        <div class="col-md-12 text-center mt-5">
          <a  routerLink="/GetAllCateogries" class="button btn btn-light">لمزيد من الأقسام</a>
        </div>
      </div>
    </div>
  </section>
 
  <section class="ftco-section courseOnline">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h2 class="mb-4">الدورات التدريبية</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <app-index-course></app-index-course>
        <div class="col-md-12 text-center mt-5">
          <a routerLink="/course/" class="button btn btn-light">لمزيد من الدورات التدريبية</a>
        </div>
      </div>
    </div>
  </section>
  <br />
  <br />
</div>
