// *{font-family: "ahmed-lt-regular";}
.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: black;    
}
@media screen and (max-width: 990px){
    .slideshow {margin-top: 0px; height: 100vh;}
}
.slideshow .slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s infinite;
}
.slideshow .slideshow-item:nth-child(1), .slideshow .slideshow-item:nth-child(1) img
{
    animation-delay: 0s;
}
.slideshow .slideshow-item:nth-child(2), .slideshow .slideshow-item:nth-child(2) img
{
    animation-delay: 10s;
}
.slideshow .slideshow-item:nth-child(3), .slideshow .slideshow-item:nth-child(3) img
{
    animation-delay: 20s;
}

.slideshow .slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 31s infinite;
}

// .slideshow .slideshow-item .slideshow-item-text{}

.slideshow .slideshow-item .center-text{
    max-width: 65%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);        
    padding: 3%;
    border-radius: 8px;
    // border: 2px solid #000;

}

.slideshow .slideshow-item .right-text .inside{
    margin-top: 70px;
}
.slideshow .slideshow-item .right-text .inside p {
    font-size: 25px;
}
.slideshow .slideshow-item .right-text{
    max-width: 25%;
    height: 100vh;
    text-align: right;
    position: absolute;
    top: 0%;
    right: 0%;    
    background-color:rgba(0, 0, 0, 0.8);   
    color: #fff; 
    padding: 60px;    
}

.slideshow .slideshow-item .slideshow-item-text .first {
    font-size: 30px; 
    color: #FFAD05;
}
.slideshow .slideshow-item .slideshow-item-text .second {
    font-size: 60px;
    color: #fff;
}

.slideshow .slideshow-item .slideshow-item-text .third, .slideshow .slideshow-item .right-text p{
    font-size: 20px;
    color: #88897D;
}

@keyframes cycleImages {
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}

@keyframes zoom{
    100%{
        transform: scale(1.5);
    }
}

@media screen and (max-width: 1000px){
    .slideshow .slideshow-item .right-text{
        max-width: 30%;                
    }
}

@media screen and (max-width: 800px){
    .slideshow .slideshow-item .right-text{
        max-width: 40%;        
    }
}
@media screen and (max-width: 600px){
    .slideshow .slideshow-item .right-text{
        max-width: 50%; 
        padding: 20px;       
    }
}

.about-us .text .welcome{
    font-size: 25px;
    color: #FFAD05;
}
.about-us .text .title {
    font-size: 50px;
}
.about-us .text .start {
    font-size: 20px;
    font-weight: bold;
}
.about-us .text .text-body{
    font-size: 25px;
    color: #88897D;
}
.about-us .text .more {
    position: relative;   
    font-size: 22px;
    transition: all 1s ease;    
}
.about-us .text .more::before{
    background-color: #333;
    content: "";
    width: 0%;
    height: 100%;
    border: 1px solid #333;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
    z-index: -1;
    transition: all 0.5s ease;
}
.about-us .text .more:hover:before{
    width: 100%;
    color: #fff;
    // z-index: 2;
}

.category .button, .course .button, .contact-us .form button, .about-us .text .more{
    background-color: rgba(255,173,5,0.8);  
    color: #fff;  
    padding: 10px 30px; 
    font-size: 22px; 
}
.category .button:hover, .course .button:hover,  .contact-us .form button:hover, .about-us .text .more:hover {
    background-color: #FFAD05; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.category .title, .course h2, .carousel h2, .contact-us .title {
    font-size: 50px;
}

.pillars {
    background-color: #FFAD05;  
    // margin-top: 10%;  
}

.pillars h2{
    font-size: 50px;
    color: #fff;        
}

.pillars .content .title h3 {
    font-weight: normal;
    color: #fff;    
}
.course {
    margin-top: 10%;           
    // padding: 50px;
}

.carousel {
    background-color: #FFAD05; 
    color: #fff;
}
.carousel .title{ 
    font-size: 30px;
}
.carousel .arrows {
    border: 2px solid #fff; 
    color: #fff; 
    border-radius: 50px; 
    padding: 5px 12px;    
}
.carousel .image {
    display: inline-block; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); 
    // padding: 20px 30px; 
    border-radius: 65px;
}
.carousel .image img {
    border-radius: 50%;
}
.carousel p {
    padding: 0 40px; 
    line-height: 40px; 
    font-size: 25px; 
    color: #fff;}

i {font-size: 25px;}
.contact-us {
    margin-top: 10%; 
    text-align: right; 
    direction: rtl; 
    background-color: #fff; 
    padding: 50px; 
}
.contact-us .form p {
    line-height: 30px;
    font-size: 25px;
}
.contact-us .form input, .contact-us .form textarea {
    border: none; 
    background-color: rgba(255,173,5,0.5);
    font-size: 20px;
}
::placeholder{
    color: #333;
}
.contact-us .form input:hover, .contact-us .form textarea:hover {
    box-shadow: 0px 0px 8px rgba(255,173,5,0.3);
}
.contact-us .info {
    padding-right: 50px;
    background-color: #FFAD05;    
    color: #fff;
}
.contact-us .info h3{
    font-size: 30px;     
    color: #fff;
}
.contact-us .info p {
    font-size: 20px;
}

.about-us .title, .category .title, .course .title, .contact-us .title {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right,#ffe5b3, #ffaa00) 1;
    display: inline-block;
    padding-bottom: 8px;
}