
<br>
<br>
<section class="ftco-section" class="courseOnline">
    <div class="container">
       <div class="row justify-content-center pb-4">
           <div class="col-md-12 heading-section text-center ftco-animate">
             <h2 class="mb-4">Browse Online Course Category</h2>
         </div>
     </div>
     <div class="row justify-content-center">
<app-index-category></app-index-category>
 <div class="col-md-12 text-center mt-5">
     <a href="#" class="btn btn-secondary">See All Categories</a>
 </div>
 </div>
 </div>
 </section>
 <br>
 <br>
 <section class="ftco-section" class="courseOnline">
    <div class="container">
       <div class="row justify-content-center pb-4">
           <div class="col-md-12 heading-section text-center ftco-animate">
             <h2 class="mb-4">Pick Your Course</h2>
         </div>
     </div>
     <div class="row justify-content-center">
<app-index-course></app-index-course>
 <div class="col-md-12 text-center mt-5">
     <a href="#" class="btn btn-secondary">See All Courses</a>
 </div>
 </div>
 </div>
 </section>
 <br>
 <br>
 
 
 

 
 