.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: black;
    margin-top: -110px;
}

.slideshow .slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s infinite;
}
.slideshow .slideshow-item:nth-child(1), .slideshow .slideshow-item:nth-child(1) img
{
    animation-delay: 0s;
}
.slideshow .slideshow-item:nth-child(2), .slideshow .slideshow-item:nth-child(2) img
{
    animation-delay: 10s;
}
.slideshow .slideshow-item:nth-child(3), .slideshow .slideshow-item:nth-child(3) img
{
    animation-delay: 20s;
}

.slideshow .slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 31s infinite;
}

// .slideshow .slideshow-item .slideshow-item-text{}

.slideshow .slideshow-item .center-text{
    max-width: 65%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);        
    padding: 3% 3%;
    border-radius: 8px;
    // border: 2px solid #000;

}

.slideshow .slideshow-item .right-text .inside{margin-top: 70px;}

.slideshow .slideshow-item .right-text{
    max-width: 25%;
    height: 100vh;
    text-align: right;
    position: absolute;
    top: 0%;
    right: 0%;    
    background-color:rgba(0, 0, 0, 0.8);   
    color: #fff; 
    padding: 60px;    
}

.slideshow .slideshow-item .slideshow-item-text .first {
    font-size: 30px; 
    color: #04AA6D;
}
.slideshow .slideshow-item .slideshow-item-text .second {
    font-size: 60px;
    color: #fff;
}

.slideshow .slideshow-item .slideshow-item-text .third, .slideshow .slideshow-item .right-text p{
    font-size: 20px;
    color: #88897D;
}

@keyframes cycleImages {
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}

@keyframes zoom{
    100%{
        transform: scale(1.5);
    }
}

@media screen and (max-width: 1000px){
    .slideshow .slideshow-item .right-text{
        max-width: 30%;                
    }
}

@media screen and (max-width: 800px){
    .slideshow .slideshow-item .right-text{
        max-width: 40%;        
    }
}
@media screen and (max-width: 600px){
    .slideshow .slideshow-item .right-text{
        max-width: 50%; 
        padding: 20px;       
    }
}


.categoryOnline {
    margin-top: 10%; 
    background-color: rgba(255, 255, 255, 0.7); 
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); 
    padding: 50px;
}
.categoryOnline .button, .contact-us .form button{
    background-color: rgba(4, 170, 109, 0.5);  
    color: #fff;    
}
.categoryOnline .button:hover, .contact-us .form button:hover {
    background-color: #04AA6D; 
}
.courseOnline {
    margin-top: 10%; 
    background-color: rgba(4, 170, 109, 0.5); 
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); 
    padding: 50px;
}

.contact-us {margin-top: 10%; text-align: right; direction: rtl; background-color: #fff; padding: 50px; color: #333;}
.contact-us .form h2 {border-bottom: 2px solid #04AA6D; display: inline-block; padding-bottom: 8px;}
.contact-us .form p {line-height: 30px;}
.contact-us .form input, .contact-us .form textarea {border: none; background-color: rgba(4, 170, 109, 0.1);}
.contact-us .form input:hover, .contact-us .form textarea:hover {box-shadow: 0px 0px 8px rgba(4, 170, 109, 0.3);}
.contact-us .info {padding-right: 50px;}
.contact-us .info span{font-size: 20px; font-weight: bold; color: #88897D;}
.contact-us .form button {padding: 10px 30px; border-radius: 8px;}