<div class="container">
    <form #userForm="ngForm" novalidate (ngSubmit)="onSubmit(userForm)" >
        {{userForm.value |json}}
        <br>
        {{userModel|json}}
        <div class="form-group">
            <label>Name :</label>
            <input type="text" name="txtName" pattern="^[A-Za-z]{3,}"  [class.is-invalid]="name.invalid && name.touched " required #name="ngModel" [(ngModel)]="userModel.name"  class="form-control">
             <div *ngIf="name.errors && (name.inavlid || name.touched)">
                <small class="text-danger" *ngIf='name.errors.required' >Name is required</small>
                <small class="text-danger" *ngIf='name.errors.pattern' > wrong pattern entered</small>
           </div>    
        </div>
        <div class="form-group">
            <label>password:</label>
            <input type="password" name="password" [class.is-invalid]="password.invalid && password.touched " required #password="ngModel" [(ngModel)]="userModel.password"  class="form-control">
             <small class="text-danger" [class.d-none]="password.untouched ||password.valid" >pass is required</small>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-invalid]="email.invalid && email.touched " required #email="ngModel" [(ngModel)]="userModel.email"  class="form-control">
            <div *ngIf="email.errors && (email.inavlid || email.touched)">
                <small class="text-danger" *ngIf='email.errors.required' >email is required</small>
                <small class="text-danger" *ngIf='email.errors.pattern' >must contain @</small>
           </div> 
        </div>
        <div class="form-group">
        <label>where you hear about Us:</label>
        <select name="website" #website='ngModel' required class="form-control" [(ngModel)]="userModel.website" >
            <option disabled>Select Website</option>
            <option>faceBook</option>
            <option>twitter</option>
            <option>instagram</option>
        </select>
        <div class="text-danger" *ngIf="website.touched && website=='Select Website'">
           you must select a one
       </div>
       </div>
        <input type="submit" class="btn btn-primary" value="REGISTER" [disabled]="userForm.form.invalid" >
    </form>
</div>